.week-ahead {
  color: #f2f2f1;
  display: inline-flex;
  text-align: center;
}
.forecast-temperature {
  color: #8f9596;
}

.Forecast canvas {
  display: block;
  margin: 2px auto;
  width: 45px;
  height: 45px;
}
